@import "../variables/var";

body{
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
/*MENU*/
.navbar-fixed-top{
	.nav {
    	padding: 10px 0;
	}
	.navbar-brand {
    	padding: 0 $quincep;
    	&:hover, &:focus{
    		background-color: transparent;
    	}
    }
} 
.navbar-inverse {
    background-color: rgba(255, 255, 255, 0.9) !important;
    border: none !important;
    .navbar-nav li >a {
        color: $gris;
    	&:hover, &:focus{
        color:$color;
	    background-color: transparent;
        }   
	}
    .navbar-toggle {
        background-color: $color !important;
    }
}

nav{
    h1{
        color: $color;
        span{
            color: $light;
        }
    }
    a, h1, {
        font-family: "bebas___-webfont" !important;
        word-spacing: 5px;
    }       
} 