/*/////////////////VARIABLES//////////////////////*/

/*porcentajes*/
$cien: 100%;
$diez: 10%;
$cinco: 5%;
$cuarenta: 40%;
/*pixeles*/
$quincep: 15px;

/*colores*/
$color: #E96441;
$color-dark: #D64B26;
$light: rgba(233, 100, 65, 0.5);
$white: white;
$gris: #C6C4C4;
